################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sample/bin/Debug/net8.0
/Sample/obj
/Sample/bin/Release/net8.0
